# volumes
/logs
/db

/.env.*

# IDE setting
## PhpStorm
.idea


###> symfony/framework-bundle ###
/phpfpm/symfony/config/secrets/prod/prod.decrypt.private.php
/phpfpm/symfony/public/bundles/
/phpfpm/symfony/var/
/phpfpm/symfony/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpfpm/symfony/.phpunit
/phpfpm/symfony/.phpunit.result.cache
/phpfpm/symfony/phpunit.xml
###< phpunit/phpunit ###
